.brief {
    grid-row: 3;
    grid-column: 1 / -1;
}


.right {
    float: right;
    margin-left: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

.bref{
    display: block;
    margin: 0 auto;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / -1;
}