* { box-sizing: border-box; }
a { text-decoration: none; color: inherit; }

body {
	font-family: Special Elite;	
	background: url("https://media.giphy.com/media/ednUwtnhRYkSc/giphy.gif");
    background-size: 12%;
    background-repeat: repeat;
}